{% for comment in comments %}
	<div class="card mb-2">
		<div class="card-body p-2 p-sm-3">
			<div class="media forum-item">
				<a href="#" data-toggle="collapse" data-target=".forum-content"><img src="\images\main\{{comment.writer.portrait.name}}" class="mr-3 rounded-circle" width="50" alt="User"/></a>
				<div class="media-body">
					<p class="text-light text-justify">
						{{comment.content}}
					</p>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
