<div>
	{% if figure.images %}
		{% for image in figure.images %}
			<div>
				<img src="\images\main\{{image.name}}" class="img-thumbnail">
			</div>
		{% endfor %}
	{% endif %}
</div>
<div class="d-flex justify-content-center">
	{% if figure.media %}
		<div>
			{% for media in figure.media %}
				<div>
					<iframe width="540" height="300" frameborder="0" src="https://www.youtube.com/embed/{{media.lien}}" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
<div class="d-flex justify-content-center" id="close">

	<button>fermer les medias</button>
</div>
