{% extends 'base.html.twig' %}
{% form_theme requestForm 'bootstrap_4_layout.html.twig' %}


{% block title %}Réinitialiser votre mot de passe
{% endblock %}

{% block body %}
	<div class="row text-center" style="width: 400px; margin-left: auto; margin-right: auto">

		{% for flashError in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}
		<h1>Réinitialser votre mot de passe</h1>


		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Entrer votre adresse mail et vous recevrez un lien par mail.
			</small>
		</div>

		<button class="btn btn-primary">envoi d'un lien par mail</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
