
<div id="d1" class="row  pt-5">
<div class="row row-cols-1 row-cols-lg-5">

		{% for figure in figures %}
			<div class="col">
				{% include "figure/_figure_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
</div>

