{% extends 'base.html.twig' %}

{% block title %}accueil
{% endblock %}

{% block body %}
	<img src="\images\main_1.jpg" class="img-fluid" alt="Responsive image">
	<div>
		<button id="up" data-toggle="collapse" data-target="#figures">
			<a href="#down">
				<i class="fas fa-angle-double-down"></i>
			</a>
		</button>
	</div>

	<div id="figures" class="row m-4 collapse">

		<div class="row">
			{% for figure in figures %}
				<div class="col-1 col-sm">
					{% include "figure/_figure_card.html.twig" %}
				</div>
				{% if loop.index is divisible by(5) %}
				</div>
				<div class="row">
				{% endif %}
			{% endfor %}
		</div>

	</div>


{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
