.product-holder {
    position: relative;
    display: block;
}

.product-image{
    object-position: 1000px;
}

.plus-image {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}