<!DOCTYPE html>
<html>
	<head lang="fr">
		<meta charset="UTF-8">
		<title>
			{% block title %}accueil
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/css/base.css')}}">
			<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

		{% endblock %}
	</head>
	<body>
		{% include "shared/_navbarlarge.htlm.twig" %}
		

		{% for rubrique, messages in app.flashes %}
			<div class="alert alert-{{rubrique}}">
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}

			</div>
		{% endfor %}


		{% block body %}{% endblock %}
<div class="row" style="height:100px"></div>

{% include "shared/_navbarsmall.htlm.twig" %}


		{% block javascripts %}{% endblock %}
	</body>
</html>
